<div class="bloc_users" id="user_<%= @user.id %>">
  <div class="bloc_user">
      <div class="user_image"><img src="<%= @user.photo %>"></div>
      <div class="user_data"> 
        <div class="user_name"><h3><%= @user.name%></h3></div>
        <div class="user_posts">Number of posts: <%= @user.posts_counter %></div>
      </div>
  </div>
  <div class="user_bio">
    <h4>Bio</h4>
    <div class="user_bio_content"><%= @user.bio %> </div>
  </div>
   <div class="bloc_user_posts">
    <%  @user.recent_posts.each do |post|%>
      <div class="bloc_user_post">
          <%= link_to user_post_path(@user, post) do %>
            <h4><%= post.title %></h4>
          <% end %>
          <div class="user_post_content"><%= post.text %> </div>
          <div class="user_post_content_comments">Comment: <%= post.comments_counter %>, Likes : <%= post.likes_counter %></div>
      </div>
    <% end %>
  </div>

  <%= link_to 'See all posts', user_posts_path(@user) , class: "see_posts"%>

</div>