 <div class="bloc_user_posts">
    <div class="bloc_user_post">
        <%= link_to user_post_path(user, post) do %>
            <h4><%= post.title %></h4>
          <% end %>
        <div class="user_post_content"> <%= post.text %> </div>
        <div class="user_post_content_comments">Comment: <%= post.comments_counter %>, Likes : <%= post.likes_counter %></div>
    </div>
    <%= render partial: "comment", locals: { post: post, comments: post.recent_comments  } %>
</div>