<div class="bloc_posts">
  <div class="bloc_user" id="user_<%= @user.id %>">
      <div class="user_image"><img src="<%= @user.photo %>"></div>
      <div class="user_data"> 
        <div class="user_name"><h3><%= @user.name%></h3></div>
        <div class="user_posts">Number of posts: <%= @user.posts_counter%></div>
      </div>
  </div>

  <% @posts.each do |post| %>
      <%= render partial: "post", locals: { post: post, user: @user } %>
  <% end %>

  <button class="pagination"> Pagination</button>
  <br/>

   <% if current_user %>
      <%= button_to "Add new Post", new_user_post_path(@user), method: :get, class: "pagination" %>
<% end %>

</div>