<div class="bloc_posts">
   <div class="bloc_user_posts">
      <div class="bloc_user_post">
          <h4><%= @post.title %>  </h4>
          <div class="user_post_content_comments">Comment: <%= @post.comments_counter %>, Likes : <%= @post.likes_counter %></div>
          <div class="user_post_content"> <%= @post.text %> </div>
      </div>

      <%= render partial: "comment", locals: { post: @post, comments: @post.comments  } %>

  </div>

 <% if current_user %>
  <%= button_to "Add new Comment", new_user_post_comment_path(@post.author, @post), method: :get, class: "pagination" %>
  <%= button_to "Add a like", user_post_likes_path(@post.author, @post), class: "pagination" %>

<% end %>



 <% if can? :destroy, @post %>
    <%= button_to "Delete the post" ,[@post.author, @post], method: :delete, class: "pagination" %>
    <% end %>
</div>
</div>